/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


// * {
//   border: 1px solid yellow;
// }


body {
  font-size: 20px;
}

.about, .skills, .projects, .contact {
  margin-bottom: 50px;
}

// INDEX
.bg-black {
  background-color: black;
  color: white;
}

.logo {
  width: 100px;
  margin-top: 20px;
}

.profile_photo  {
  width: 100%;
  //margin-left: 16%;
}

.rectangle {
  position: absolute;
  width: 60%;
  height: 110px;
  transform: translate(140px,100px) rotate(45deg);
	background: linear-gradient(to right, transparent, #7C7D95);
}

.rectangle2 {
  position: absolute;
  width: 50%;
  height: 110px;
  transform: translate(280px,100px) rotate(45deg);
	background: linear-gradient(to left, #664F78, black);
}

.rectangle3 {
  position: absolute;
  width: 40%;
  height: 110px;
  transform: translate(420px,100px) rotate(45deg);
	background: linear-gradient(to left, #A43C5B, black);
  z-index: 120;
}


.name {
  margin-top: 400px;
  font-family: Arial;
  letter-spacing: 6px;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
}

.index {
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
}


// ABOUT
.bg-about {
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: #ccc;
}



p, ul {
  text-align: justify;
}

// SKILLS
.bg-skills {
  padding-top: 20px;
  padding-bottom: 50px;
  background: linear-gradient(#ccc, #7C7D95);
}

// PROJECTS
.bg-projects {
  padding-top: 20px;
  padding-bottom: 50px;
  background: linear-gradient(#7C7D95, #664F78 );
}

.codepen:hover {
    opacity: 0.5;
    background-color: white;
}

.github:hover {
    opacity: 0.5;
    background-color: white;
}


// CONTACT
.bg-contact{
  padding-top: 20px;
  padding-bottom: 50px;
  background: linear-gradient(#664F78, #A43C5B);
}

.contact {
  margin-top: 50px;
}

.github_small:hover {
    opacity: 0.5;
    background-color: white;
}

.linkedin:hover {
    opacity: 0.5;
    background-color: white;
}


.hidden {
  display: none;
}



// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) {

    .rectangle {
      position: absolute;
      width: 60%;
      height: 60px;
      transform: translate(10px,100px) rotate(45deg);
    	background: linear-gradient(to right, transparent, #7C7D95);
    }

    .rectangle2 {
      position: absolute;
      width: 50%;
      height: 60px;
      transform: translate(80px,100px) rotate(45deg);
    	background: linear-gradient(to left, #664F78, black);
    }

    .rectangle3 {
      position: absolute;
      width: 40%;
      height: 60px;
      transform: translate(150px,100px) rotate(45deg);
    	background: linear-gradient(to left, #A43C5B, black);
    }

    .name {
      margin-top: 300px;
    }

    .profile_photo2 {
      width: 80%;
      margin: 0;
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .rectangle {
    position: absolute;
    width: 60%;
    height: 60px;
    transform: translate(10px,100px) rotate(45deg);
    background: linear-gradient(to right, transparent, #7C7D95);
  }

  .rectangle2 {
    position: absolute;
    width: 50%;
    height: 60px;
    transform: translate(80px,100px) rotate(45deg);
    background: linear-gradient(to left, #664F78, black);
  }

  .rectangle3 {
    position: absolute;
    width: 40%;
    height: 60px;
    transform: translate(150px,100px) rotate(45deg);
    background: linear-gradient(to left, #A43C5B, black);
  }

  .profile_photo2  {
    width: 100%;
  }
}
