/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


// * {
//   border: 1px solid yellow;
// }


body {
  font-size: 20px;
}

.about, .skills-heading, .projects, .contact {
  margin-bottom: 70px;
}

.about::after {
  content: " ";
  position:absolute;
  width: 35%;
  height: 2px;
  display: block;
  background-color: black;
  background: linear-gradient(to right, #000, transparent);
  margin-left: 15px;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
}

.skills-heading::after {
  content: " ";
  position:absolute;
  width: 35%;
  height: 2px;
  display: block;
  background-color: black;
  background: linear-gradient(to right, #000, transparent);
  margin-left: 15px;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
}

.projects::after {
  content: " ";
  position:absolute;
  width: 35%;
  height: 2px;
  display: block;
  background-color: black;
  background: linear-gradient(to right, #000, transparent);
  margin-left: 15px;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
}

// INDEX
.bg-black {
  background-color: black;
  color: white;
}

.logo {
  width: 100px;
  margin-top: 20px;
}

.profile_photo  {
  width: 100%;
}

.rectangle {
  position: absolute;
  width: 300px;
  height: 110px;
  transform: translate(60px,120px) rotate(45deg);
	background: linear-gradient(to right, transparent, #7C7D95);
}

.rectangle2 {
  position: absolute;
  width: 200px;
  height: 110px;
  transform: translate(220px,140px) rotate(45deg);
	background: linear-gradient(to left, #664F78, black);
}

.rectangle3 {
  position: absolute;
  width: 150px;
  height: 110px;
  transform: translate(340px,140px) rotate(45deg);
	background: linear-gradient(to left, #A43C5B, black);
  z-index: 120;
}


.name {
  margin-top: 400px;
  font-family: Calibri;
  letter-spacing: 6px;
  text-align: center;
  font-size: 90px;
  font-weight: bold;
}

.index {
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
}


// ABOUT
.bg-about {
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: #ccc;
}



p, ul {
  text-align: justify;
}

// SKILLS
.bg-skills {
  padding-top: 20px;
  padding-bottom: 50px;
  background: linear-gradient(#ccc, #7C7D95);
}

ul {
  margin-left: 10%;
  margin-right: 15%;
}

li {
 padding:8px;
 text-align: justify;
 text-decoration: none;
 border-left: 1px solid black;
}

.skills {
  font-weight: bold;
}


// PROJECTS
.bg-projects {
  padding-top: 20px;
  padding-bottom: 50px;
  background: linear-gradient(#7C7D95, #664F78 );
}

.codepen:hover {
    opacity: 0.5;
    background-color: white;
}

.github:hover {
    opacity: 0.5;
    background-color: white;
}


// CONTACT
.bg-contact{
  padding-top: 20px;
  padding-bottom: 50px;
  background: linear-gradient(#664F78, #A43C5B);
}

.contact {
  margin-top: 50px;
}

.social {
  margin-top: 50px;
}

.github_small:hover {
    opacity: 0.5;
    background-color: white;
}

.linkedin:hover {
    opacity: 0.5;
    background-color: white;
}


.hidden {
  display: none;
}





// // Small devices (portrait phones, 320px and less)
// @media (min-width: 576px) {
//
//     .rectangle {
//       position: absolute;
//       width: 60%;
//       height: 60px;
//       transform: translate(-50px,100px) rotate(45deg);
//     	background: linear-gradient(to right, transparent, #7C7D95);
//     }
//
//     .rectangle2 {
//       position: absolute;
//       width: 50%;
//       height: 60px;
//       transform: translate(80px,100px) rotate(45deg);
//     	background: linear-gradient(to left, #664F78, black);
//     }
//
//     .rectangle3 {
//       position: absolute;
//       width: 40%;
//       height: 60px;
//       transform: translate(150px,100px) rotate(45deg);
//     	background: linear-gradient(to left, #A43C5B, black);
//     }
//
//     .name {
//       margin-top: 300px;
//     }
//
//     .profile_photo2 {
//       width: 80%;
//       margin: 0;
//     }
//
// }

// Medium devices (tablets, 768px and less)
// @media (min-width: 576px) and (max-width: 767px) {
//
//   .rectangle {
//     position: absolute;
//     width: 45%;
//     height: 80px;
//     transform: translate(90px,100px) rotate(45deg);
//     background: linear-gradient(to right, transparent, #7C7D95);
//   }
//
//   .rectangle2 {
//     position: absolute;
//     width: 35%;
//     height: 80px;
//     transform: translate(220px,100px) rotate(45deg);
//     background: linear-gradient(to left, #664F78, black);
//   }
//
//   .rectangle3 {
//     position: absolute;
//     width: 25%;
//     height: 80px;
//     transform: translate(350px,100px) rotate(45deg);
//     background: linear-gradient(to left, #A43C5B, black);
//   }
//
//   .profile_photo2  {
//     width: 100%;
//   }
//
//
//
// }
