<!--INDEX  -->
<div class="bg-black container_fluid">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-lg-6">
        <%= image_tag "logo-white.png", class: "logo"%>

          <div class="rectangle"></div>
          <div class="rectangle2"></div>
          <div class="rectangle3"></div>


        <h1 class="name">Petr Fila</h1>
        <p class="index">a web developer?</p>

      </div>
      <div class="col-sml-12 col-lg-6">

        <%= image_tag "profile_photo2.png", class: "profile_photo" %>

      </div>
    </div>
  </div>
</div>
