<!--INDEX  -->

  <div class="container">
    <div class="row">

      <div class="col-lg-5">
        <div class="rectangle">
          <div id="logo">
            <img class="logo" src=".\images\My Logo5.png" alt="" class="logo">
          </div>
        </div>

        <h1 class="name">Petr Fila</h1>
        <p class="index">web developer?</p>

      </div>
      <div class="col-lg-7">
        <img class="profile" src=".\images\P1010410.png" alt="">
      </div>
    </div>
  </div>
