<!--PROJECTS  -->

  <div class="bg-projects container-fluid">
    <div class="container col-lg-7">
      <h1 class="projects">Projects</h1>

      <div class="gallery container col-lg-9">
        <div class="row">
          <div class="codepen col-lg-6"><a href="https://codepen.io/peterf/" target="_blank" alt="Codepen"><%= image_tag "codepen_logo-web.png", class:"img-fluid" %></a></div>
          <div class="github col-lg-6"><a href="https://github.com/PetrFila" target="_blank" alt="GitHub"><%= image_tag "github-thumbnail.png", class:"img-fluid" %></a></div>
        </div>

        <div class="row">
          <div class="col-lg-6"><%= image_tag "lock.png", class:"img-fluid" %></div>
          <div class="col-lg-6"><%= image_tag "lock.png", class:"img-fluid" %></div>
        </div>
      </div>
    </div>
</div>
