<!--SKILLS  -->

  <div class="bg-skills container-fluid">
    <div class="container col-lg-7">
      <h1 class="skills">Skills</h1>


      <ul class="skill_list">
        <li>Current skills:
          <ul>
            <li>HTML, CSS, Ruby basics</li>
          </ul>
        <li>In the pipeline:</li>
          <ul>
            <li>JavaScript</li>
            <li>Databases</li>
            <li>any other necessary back end development knowledge to become full stack developer</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
