<!--SKILLS  -->

  <div class="bg-skills container-fluid">
    <div class="container col-lg-7">
      <h1 class="skills-heading">Skills</h1>



        <p class="skills">Current skills:</p>
          <ul>
            <li>HTML, CSS, Ruby basics</li>
          </ul>
        <p class="skills">In the pipeline:</p>
          <ul>
            <li>JavaScript</li>
            <li>Databases</li>
            <li>any other necessary back end development knowledge to become full stack developer</li>
          </ul>

    </div>
  </div>
